
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
bundle
config
helm-charts
bundle.Dockerfile
Dockerfile
Makefile
PROJECT
watches.yaml

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
